<!DOCTYPE html>
<html>
<head>
  <title>MyEngine::Admin</title>
  <%= stylesheet_link_tag    "my_engine/admin/application", media: "all" %>
  <%= javascript_include_tag "my_engine/admin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
